.about__page_title:not(:first-of-type) {
  margin-top: 40px;
}

.about__page_title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 4px solid black;
  padding: 20px 40px 14px;
  position: relative;
}

.about__page_title::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 25px;
  background-color: #ffff00;
  width: 60px;
  height: 45px;
  z-index: -1;
}

.about__page_field {
  margin-top: 20px;
  margin-left: 20px;
}

.about__exit-button {
  margin-top: 30px;
  margin: 0 auto;
}
